<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC91Hy8nOWFvjpgZiDKoSh_y8rAnniz9ng</string>
	<key>GCM_SENDER_ID</key>
	<string>263185896491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dears.dears</string>
	<key>PROJECT_ID</key>
	<string>dears-40a91</string>
	<key>STORAGE_BUCKET</key>
	<string>dears-40a91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263185896491:ios:b153ca3ce8333a0aff866e</string>
</dict>
</plist>
